h1 {
    text-align: center;
}

.card {
    justify-content: center;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card-title {
    font-size: large;
}

.verified {
    height: 15px;
    width: 15px;
    justify-content: left;
}

.card-text {
    font-family: Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
}

.card-link {
    text-decoration: none;
}